@import "./fonts";
.text-secondary {
  font-family: "Frank Ruhl Libre", serif;
}
.text-third {
  font-family: "Montserrat", sans-serif;
}
.text-green-primary {
  color: #42a880;
}

// #wrapper {
  // font-family: "Montserrat", sans-serif;
  // width: 100%;
  // overflow: hidden;
  // position: relative;
  // padding: 100px 0 0;

  main {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    .intro-partner {
      background-image: url("../images/gravitas-partner.svg");
    }
    .bg-partner {
      background-image: url("../images/partner_bg.png");
      background-size: 100% 100%;
    }
    .growbiz-container {
      .growbiz-background {
        background-image: url("../images/growbiz.png");
        height: 500px;
      }
      .growbiz-content {
        // top: 5rem;
        // right: 6rem;
      }
    }
  }
// }

// @media (max-width: 767px) {
//   #wrapper {
//     padding: 60px 0 0;
//   }
// }
// @media (max-width: 1023px) {
//   #wrapper {
//     padding: 80px 0 0;
//   }
// }
