@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-secondary {
  font-family: "Frank Ruhl Libre", serif;
}

.text-third {
  font-family: "Montserrat", sans-serif;
}

.text-green-primary {
  color: #42a880;
}

main {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
main .intro-partner {
  background-image: url("../images/gravitas-partner.svg");
}
main .bg-partner {
  background-image: url("../images/partner_bg.png");
  background-size: 100% 100%;
}
main .growbiz-container .growbiz-background {
  background-image: url("../images/growbiz.png");
  height: 500px;
}

/*# sourceMappingURL=partner.css.map */
