@import "./fonts";
.text-secondary {
  font-family: "Frank Ruhl Libre", serif;
}
.text-third {
  font-family: "Montserrat", sans-serif;
}
.text-green-primary {
  color: #42a880;
}
.wrapper {
  font-family: "Montserrat", sans-serif;
  main {
    .talk-to-expert-container {
      background-image: url("../images/secttion1_background.png");
      height: 41.875rem;
      background-position: 0 -122px;
      h1 {
        font-family: "Frank Ruhl Libre", serif;
      }
    }
    .numbers-speak {
      background-image: url("../images/number_speaks_bg.png");
      background-size: 75%;
      background-position: right -20px;
      background-color: #11234c;
      .number {
        h1 {
          color: #42a880;
        }
      }
    }
    .story-background {
      h1 {
        font-family: "Frank Ruhl Libre", serif;
      }
    }
    .awards {
      background-image: url("../images/award_background.png");
      background-size: 20%;
    }
    .satisfied-cust-container {
      background-image: url("../images/section5_background.png");
    }
    .deliver {
      .deliver-image {
        background-image: url("../images/deliver_bg.png");
      }
    }
    .help {
      background: #222d39;
      .step-items {
        .listpointer {
          // width: 22px;
          height: 22px;
        }
      }
    }
  }
}

.owl-nav{
  display: flex;
  justify-content: center;
  button{
    span{
      font-size: 32px;
    }
  }
}
// 11234c
