@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-secondary {
  font-family: "Frank Ruhl Libre", serif;
}

.text-third {
  font-family: "Montserrat", sans-serif;
}

.text-green-primary {
  color: #42a880;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
}
.wrapper main .talk-to-expert-container {
  background-image: url("../images/secttion1_background.png");
  height: 41.875rem;
  background-position: 0 -122px;
}
.wrapper main .talk-to-expert-container h1 {
  font-family: "Frank Ruhl Libre", serif;
}
.wrapper main .numbers-speak {
  background-image: url("../images/number_speaks_bg.png");
  background-size: 75%;
  background-position: right -20px;
  background-color: #11234c;
}
.wrapper main .numbers-speak .number h1 {
  color: #42a880;
}
.wrapper main .story-background h1 {
  font-family: "Frank Ruhl Libre", serif;
}
.wrapper main .awards {
  background-image: url("../images/award_background.png");
  background-size: 20%;
}
.wrapper main .satisfied-cust-container {
  background-image: url("../images/section5_background.png");
}
.wrapper main .deliver .deliver-image {
  background-image: url("../images/deliver_bg.png");
}
.wrapper main .help {
  background: #222d39;
}
.wrapper main .help .step-items .listpointer {
  height: 22px;
}

.owl-nav {
  display: flex;
  justify-content: center;
}
.owl-nav button span {
  font-size: 32px;
}

/*# sourceMappingURL=main.css.map */
